{% extends '_base.html' %}
{% load markdown_extras %}

{% block meta %}
{% endblock meta %}

{% block title %}
Hansel's Blog
{% endblock title %}

{% block content %}

<!-- Page Content -->
<div class="container py-5 mb-5 px-lg-5 px-md-3">

    <div class="row">
        <div class="col-md-12 mb-5">
            <h2>What this is</h2>

            <p class="lead">This is my blog about anything. Will post whatever I want. Will also serve as my notes, and my thought
                bucket. </p>
            <hr>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        {% for article in articles reversed %}
        <div class="col-md-6 col-sm-12 col-lg-4 mb-5">
            <div class="card card">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="card-img-top embed-responsive-item" src="{{ article.image.url }}" alt="">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ article.title }}</h4>
                    <p class="card-text">{{ article.content| truncatechars:70 | markdown | safe }}</p>
                </div>
                <div class="card-footer ">
                    <center>
                        <a href="{% url 'article' article.pk %}" class="btn btn-primary">Find Out More!</a>
                    </center>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock content %}