{% extends '_base.html' %}
{% load markdown_extras %}
{% block meta %}
{% endblock meta %}

{% block title %}
{% endblock title %}

{% block content %}
<header class="bg-dark py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Hansel the CS - Human Blog</h1>
                <p class="lead mb-5 text-white-50">Thoughts of Hansel the Computer Scientist - Human blog</div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-12 mb-5">
            <h2>What I Do</h2>
            <hr>
            <p>This is my blog about anything. This blog allows me to reflect, share opinions, and discuss various
                topics in the form of an online journal. My Blogs will probably be written in a slightly informal tone.
                I will put anything I want on it. Filled with literally whatever. </p>
            <p>Read with caution.</p>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        {% for article in articles %}
        <div class="col-md-4 mb-5">
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="card-img-top embed-responsive-item" src="{{ article.image.url }}" alt="">
                </div>
                <div class="card-body">
                    <h4 class="card-title">{{ article.title }}</h4>
                    <p class="card-text">{{ article.content| truncatechars:75 | markdown | safe }}</p>
                </div>
                <div class="card-footer ">
                    <center>
                        <a href="{% url 'article' article.pk %}" class="btn btn-primary">Find Out More!</a>
                    </center>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock content %}