{% extends '_base.html' %}
{% load markdown_extras %}

{% block meta %}
{% endblock meta %}

{% block title %}
Joseph Hansel Ong Daiz | Notes | {{ tag.tag }}
{% endblock title %}

{% block content %}

<!-- Page Content -->
<div class="container py-5 mb-5 px-lg-5 px-md-3">

    <div class="row">
        <div class="col-12 mb-5">
            <h1 class="text-center">{{ notebook.title }}</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        {% for note in notebook.notes.all %}
        <div class="col-12 py-3">
            <div class="card">
                <div class="card-body">
                    <p class="card-subtitle mb-2 text-muted text-right">{{ note.date }}</p>
                    <div class="lead text-justify">{{ note.content | markdown | safe }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
{% endblock content %}